<div class="center jumbotron">
  <h1>Welcome to the Lego Town</h1>

  <h2>
    This is the home page for the Lego Town Website
    sample application.
  </h2>

</div>

<%= link_to image_tag("town.png", alt: "town")%>